body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.8)),
              #111 url(https://source.unsplash.com/RF4p4rTM-2s/1280x720) no-repeat center fixed;
    background-size: cover;
}
img {
    width: 100%;
    
    display: block;
}